.navbar {
    width: 100%;
    padding: 10px;
    box-shadow: 20px 10px 10px rgb(225, 228, 221);

}
.navbar-brand{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    text-shadow: 2px 2px 3px gray;
}
.container{
    margin: 30px;
    box-sizing: border-box;
    
}
h1{
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
.hire{
    display: flex;
    gap: 20px;
}
.icons{
    margin-top: 20px;
    display: flex;
    
}
.section{
    padding-block: 5em;
}
.section .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.section .col{
    display: flex;
    width: 50%;
}
.top-header{
    text-align: center;
    margin-bottom: 5em;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
   
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
}
.about-info p{
    text-align: center;
    font-size: 15px;
    color: #777;
}
.about-btn button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: rgb(120, 120, 238);
    border-radius: 30px;
    margin: 10px;
}
.about-btn button:hover{
    background: rgb(63, 40, 243);
}
img{
    display: flex;
    width: 100%;
    height: 70vh;
    border-radius: 50%;
   
}



.skills-box{
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skills-list span{
    font-size: 14px;
    background: rgb(120, 120, 238);
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
}


.project-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    cursor: pointer;
    
}
.project-box>i{
    font-size: 50px;
    color: #00B5E7;
    margin-bottom: 25px;
}
.project-box label{
    font-size: 15px;
    
}
.project-box:hover{
    background:   #ae61e0;
    color: white;  
}



.contact-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 310px;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.contact-info:hover{
    background:  #ae61e0;
    color: white;
}
.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
    margin-bottom: 5px;
}
textarea{
    margin: 10px;
    width: 100%;
    height: 235px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background:  turquoise;
    font-size: 18px;
    font-weight: 700;
    
}
.form-button>.btn:hover{
    background: #00B5E7;
    color: white;

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #F8F8F8;
    padding-block: 40px 60px;
}
.top-footer p{
    font-size: 25px;
    font-weight: 600;
}
.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
}
.footer-social-icons{
    display: flex;
    gap: 30px;   
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}
.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.icon:hover{
    color:  violet;
}