.main-content {
  display: grid;
  grid-template-columns: 300px 700px;
  min-height: 1000px;
  width: 90%;
  margin: 20px auto;
}

.left-section {
  grid-column: span 1;
  background-color: lightblue;
}

.right-section {
  grid-column: span 1 / span 2;
  
  background-color: lightgreen;
}
.left-content {
    padding: 1rem;
  }
.profile-image {
  align-items: center;
  display: block;
  margin: auto;
  border: 5px solid white;
  border-radius: 30%;
  width: 60%;
}
.name {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0.8rem;
  letter-spacing: 0.02px;
}
.designation {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.5rem;
}
.description {
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}
.contact-item {
  padding: 1rem;
}
.icon {
    /* Add styles for social media icons */
  }
  .skill {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
  }
  .skill-name {
    font-size: 0.65rem;
    font-weight: 0.65;
    text-align: left;
    padding-bottom: 0.5rem;
  }
  .progress-bar {
    border: 1px solid white;
    height: 4px;

  }
  .right-main-content {
    padding: 2rem 3rem;
  }
  .right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
  }
  
  

@media screen and (max-width: 673px) {
    .main-content {
      grid-template-columns: repeat(1, 1fr);
      
    }
  }
